    <footer>
      <div class="container">
        <div class="even-columns">
          <div class="card card-footer">
            <h3>Services</h3>
            <div class="row">
              <a href="#">Voice Over</a>
              <a href="#">Voice Acting</a>
            </div>
          </div>
          <div class="card card-footer">
            <h3>About</h3>
            <a href="#">About Me</a>
          </div>
          <div class="card card-footer">
            <h3>Support</h3>
            <div class="row">
              <a href="#">Contact</a>
              <a href="#">Get a Quote</a>
            </div>
          </div>
          <div class="card card-footer">
            <h3>Language</h3>
            <a href="#">English</a>
          </div>
        </div>
        <div class="socials">
          <div class="social-link"><i class="fa-brands fa-youtube"></i></div>
          <div class="social-link"><i class="fa-brands fa-instagram"></i></div>
          <div class="social-link"><i class="fa-solid fa-envelope"></i></div>
        </div>
        <h3>Copyright {{ page.date | copyrightDate }} Owen Zupan - All Rights Reserved</h3>
      </div>
    </footer>