<section class="bg-img navigation">
      <div class="nav-bg">
        <div class="container">
          <div class="nav-wrapper">
            <button
            class="mobile-nav-toggle"
            aria-controls="primary-navigation"
            aria-expanded="false"
            >
            <i
              class="icon-hamburger fa-solid fa-bars"
              aria-hidden="true"></i>
            <i class="sr-only fa-solid fa-x"></i>
            <span class="sr-only">Menu</span></button
          >
            <!-- Mobile Nav Toggle TODO -->
            <nav class="primary-navigation" id="primary-navigation">
              <div class="nav-logo"> </div>
              <div>
                <ul role="list" class="nav-list" aria-label="primary">
                <li><a href="#">About</a></li>   
                <li><a href="#">Portfolio</a></li>   
                <li><a href="#">Contact</a></li>    
            </ul>
              </div>
            </nav>
          </div>
        </div>
    </div>

        <div class="container">
          <div class="primary-header">
            <h2>Owen Zupan<br />Voice-Over</h2>
          </div>
          <p class="primary-text"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
            nulla excepturi repudiandae! Maiores, expedita deserunt.
          </p>
        </div>
      </div>
    </section>