---
title: Home
layout: 'base.njk'
---
      <div class="wrapper strip-primary">
        <div class="container">
          <div class="strip-theme-primary">
            <div class="strip-theme-header">
              <p>My Specialties</p>
            </div>
            <div class="even-columns">
              <div class="card">
                <div class="card-text">
                  <h2>Deep, Serious Recordings</h2>
                  <p
                    >Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Corrupti cupiditate aspernatur eius optio hic!</p
                  >
                </div>
              </div>
              <div class="card">
                <div class="card-text">
                  <h2>Commerical and Advert</h2>
                  <p
                    >Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Pariatur illo ipsam quod sint saepe.</p
                  >
                </div>
              </div>
              <div class="card">
                <div class="card-text">
                  <h2>Messages for Friends and Family</h2>
                  <p
                    >Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Quam consequatur hic</p
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="wrapper">
        <div class="container strip">
          <div class="strip-theme-advert">
            <div class="even-columns">
              <div class="card card-advert">
                <div class="card-text">
                  <h2 style="text-align:center">Come Check Me Out On YouTube</h2>
                  <p
                    >Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Omnis aliquid quo delectus tenetur quia consequuntur
                    praesentium deserunt quidem ab alias</p
                  >
                  <button class="button-link">YouTube</button>
                </div>
              </div>
              <div class="card card-video">
                <img src="/references/youtube.jpg" alt="youtube" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- TODO -->

      <div class="wrapper-quote">
        <div class="container quote">
          <h2>Get a Quote Today</h2>
          <p
            >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur,
            pariatur.</p
          >
          <button class="button-link">Ask Now</button>
        </div>
      </div>
    <hr />